Repository luminastudy/support: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,mdx,css}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,md,mdx,json}": ["cspell lint --no-must-find-files"]
}

fix(ci): specify pnpm version in package.json for CI/CD
  package.json
Due: prettier --write, cspell lint --no-must-find-files

docs(support): replace default Docusaurus content with Lumina Study documentation
  blog/2019-05-28-first-blog-post.md
  blog/2019-05-29-long-blog-post.md
  blog/2021-08-01-mdx-blog-post.mdx
  blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  blog/2021-08-26-welcome/index.md
  blog/authors.yml
  blog/tags.yml
  cspell.json
  docs/developers/_category_.json
  docs/developers/setup.md
  docs/educators/_category_.json
  docs/educators/creating-courses.md
  docs/intro.md
  docs/students/_category_.json
  docs/students/browsing-courses.md
  docs/tutorial-basics/_category_.json
  docs/tutorial-basics/congratulations.md
  docs/tutorial-basics/create-a-blog-post.md
  docs/tutorial-basics/create-a-document.md
  docs/tutorial-basics/create-a-page.md
  docs/tutorial-basics/deploy-your-site.md
  docs/tutorial-basics/markdown-features.mdx
  docs/tutorial-extras/_category_.json
  docs/tutorial-extras/img/docsVersionDropdown.png
  docs/tutorial-extras/img/localeDropdown.png
  docs/tutorial-extras/manage-docs-versions.md
  docs/tutorial-extras/translate-your-site.md
  docusaurus.config.ts
  sidebars.ts
  src/components/HomepageFeatures/index.tsx
  src/pages/index.tsx
  static/img/docusaurus-social-card.jpg
  static/img/docusaurus.png
  static/img/undraw_docusaurus_mountain.svg
  static/img/undraw_docusaurus_react.svg
  static/img/undraw_docusaurus_tree.svg
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(branding): add Lumina logo assets and favicon
  cspell.json
  docusaurus.config.ts
  i18n/he/code.json
  i18n/he/docusaurus-plugin-content-docs/current.json
  i18n/he/docusaurus-plugin-content-docs/current/developers/setup.md
  i18n/he/docusaurus-plugin-content-docs/current/educators/creating-courses.md
  i18n/he/docusaurus-plugin-content-docs/current/intro.md
  i18n/he/docusaurus-plugin-content-docs/current/students/browsing-courses.md
  i18n/he/docusaurus-plugin-content-pages/index.md
  i18n/he/docusaurus-theme-classic/footer.json
  i18n/he/docusaurus-theme-classic/navbar.json
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/generate-favicon.js
  static/img/favicon-16x16.png
  static/img/favicon-32x32.png
  static/img/logo-512.png
  static/img/logo.svg
  static/img/lumina-social-card.png
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(i18n): add comprehensive e2e test suite for Hebrew i18n support
  .github/workflows/e2e-tests.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  cspell.json
  ecosystem.config.cjs
  eslint.config.mjs
  knip.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/TEST_SUITE_SUMMARY.md
  tests/e2e/COVERAGE.md
  tests/e2e/QUICKSTART.md
  tests/e2e/README.md
  tests/e2e/fixtures/expected-translations.ts
  tests/e2e/helpers/i18n-helpers.ts
  tests/e2e/i18n/build-verification.spec.ts
  tests/e2e/i18n/documentation-pages.spec.ts
  tests/e2e/i18n/hebrew-locale.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): configure documentation site to run on port 9672
  ecosystem.config.cjs
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(docker): add Docker support for containerized deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
  nginx.conf
Due: none

chore(gitignore): add .playwright-mcp directory to gitignore
  .gitignore
Due: none

refactor(i18n): remove Hebrew locale support
  docusaurus.config.ts
  i18n/he/code.json
  i18n/he/docusaurus-plugin-content-docs/current.json
  i18n/he/docusaurus-plugin-content-docs/current/developers/setup.md
  i18n/he/docusaurus-plugin-content-docs/current/educators/creating-courses.md
  i18n/he/docusaurus-plugin-content-docs/current/intro.md
  i18n/he/docusaurus-plugin-content-docs/current/students/browsing-courses.md
  i18n/he/docusaurus-plugin-content-pages/index.md
  i18n/he/docusaurus-theme-classic/footer.json
  i18n/he/docusaurus-theme-classic/navbar.json
  tests/e2e/helpers/i18n-helpers.ts
  tests/e2e/i18n/build-verification.spec.ts
  tests/e2e/i18n/documentation-pages.spec.ts
  tests/e2e/i18n/hebrew-locale.spec.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(i18n): add i18n infrastructure to React components
  src/components/HomepageFeatures/index.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

style(navbar): add logo sizing styles
  src/css/custom.css
Due: prettier --write

test(playwright): update port to 9672 for dev server
  playwright.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(test): update e2e README for branding tests
  tests/e2e/README.md
Due: prettier --write, cspell lint --no-must-find-files

test(e2e): add comprehensive logo styling test suite
  tests/e2e/branding/COVERAGE.md
  tests/e2e/branding/README.md
  tests/e2e/branding/logo-styling.spec.ts
  tests/e2e/helpers/navbar-helpers.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(docs): add interactive BlockSchemaDisplay component to course creation docs
  docs/educators/creating-courses.md
  docs/educators/creating-courses.mdx
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/BlockSchemaDisplay/SchemaDetails.tsx
  src/components/BlockSchemaDisplay/constants.ts
  src/components/BlockSchemaDisplay/index.tsx
  src/components/BlockSchemaDisplay/styles.module.css
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): resolve strict mode violations in logo styling tests
  tests/e2e/helpers/navbar-helpers.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(e2e): resolve navbar brand link strict mode violations
  tests/e2e/helpers/navbar-helpers.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(docs): add updating blocks schema documentation and update sidebar
  docs/developers/updating-blocks-schema.md
  sidebars.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(docs): clarify instructions for defining block structure in lumina.json
  docs/educators/creating-courses.mdx
Due: prettier --write, cspell lint --no-must-find-files

fix(docker): use IPv4 address in healthcheck to fix connection issue
  Dockerfile
Due: none

chore(deps): update @lumina-study/block-schema to v1.1.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix(docs): use default block-schema export to auto-update with new versions
  src/components/BlockSchemaDisplay/index.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(docs): simplify block schema example constant
  cspell.json
  src/components/BlockSchemaDisplay/index.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): add className to HTML elements for jsx-classname-required rule
  eslint.config.mjs
  src/components/BlockSchemaDisplay/SchemaDetails.tsx
  src/components/BlockSchemaDisplay/index.tsx
  src/components/BlockSchemaDisplay/styles.module.css
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.css
  src/pages/index.module.css
  src/pages/index.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(submodule): add terraform submodule configuration
  .gitmodules
Due: none

feat: deploy support site to support.lumina.study with S3/CloudFront
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  docusaurus.config.ts
  terraform/.gitignore
  terraform/README.md
  terraform/backend.tf
  terraform/cloudfront.tf
  terraform/github-actions.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs: update platform scope to support any community-built topic
  docs/intro.md
  docs/students/browsing-courses.md
  docusaurus.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor: migrate terraform to submodule pattern
  .gitmodules
  terraform/.gitignore
  terraform/README.md
  terraform/backend.tf
  terraform/cloudfront.tf
  terraform/github-actions.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
Due: prettier --write, cspell lint --no-must-find-files

chore: remove stale terraform submodule entry
  .gitmodules
Due: none
